body {
    padding: 24px;
}
.container-1 {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;
}

.flex-box-container-1, .flex-box-rps, .flex-box-pick-color, 
.flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-3{
    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;
    padding: 16px;
    flex-wrap: wrap;
}
#your-box img, #dealer-box img{
   width: 25%;
   padding: 10px;

}
.flex-blackjack-row-1, .flex-blackjack-row-2 {
    background-image: url("https://image.freepik.com/free-vector/poker-table-background-green-color_47243-1067.jpg");
    background-position: center;
    color: white;
}

.flex-blackjack-row-1 div {
    border: 1px solid black;
    padding: 10px;
    flex: 1;
    min-height: 350px;
    text-align: center;
}

table tr th, table tr td{
    padding: 5px 10px;
    border: 2px solid black;
}
#cats img {
    max-width: 30%;
    min-width: 100px;
    margin: 12px;
    box-shadow: 0px 5px 20px black;
}
.generateCat {
    margin-bottom: 16px;
}

.flex-box-rps{
    display: flex;
    justify-content: space-evenly;
}

.flex-box-rps img:hover {
    box-shadow: 0px 10px 50px rgba(37, 50, 233, 0.8);
}